body {
  background-image: url("../src/images/Socialimg.jpg");
  width: 100%;
}

.animated {
  text-align: center;
  font-size: 170px;
  color: white;
  font-family: 'Bangers', cursive;
  border-radius: 10px;
}

.description, .reg, .social {
  text-align: center;
  color: white;
  font-size: 20px;
}

.login, .register {
  text-align: center;
  font-size: 38px;
  color: white;
  font-family: 'Bangers', cursive;
}

form {
  font-family: 'Bangers', cursive;
  color: white;
  font-size: 24px;
  float: right;
  margin-right: 938px;

}

/* .password, .email {
  width: 20%;
  height: 25px;

} */

input {
  text-align: center;
  border-radius: 3px 2px 3px 2px;
  font-family: 'Bangers', cursive;
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin: 20px;
}
button {
  border-radius: 3px;
  width: 38%;
  display: flex;
  justify-content: center;

}
.home {
  color: white;
  font-family: 'Bangers', cursive;
}
a {
  color: white;
  font-family: 'Bangers', cursive;
}
