body {
  background-image: url("../src/images/Socialimg.jpg");
  width: 100%;
}

.animated {
  text-align: center;
  font-size: 170px;
  color: white;
  font-family: 'Bangers', cursive;
}

.description, .reg, .social, .login {
  text-align: center;
  color: white;
  font-size: 20px;
}

